<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="LogPath" value="D:\Lathish\SourceLocation\Log" />
    <add key="LogFileName" value="ProcessLog" />
    <add key="WorkflowUser" value="speridian2" />
    <add key="WorkflowPassword" value="speridian2" />
    <add key="WorkflowDomain" value="WMSP" />
    <add key="StagingLocation" value="F:\DocumentProcess\Staging_Extraction" />
    <add key="AnnotationLocation" value="F:\DocumentProcess\Annotation" />
    <add key="ArchiveLocation" value="F:\DocumentProcess\Archive" />
    <add key="FinalLocation" value="F:\DocumentProcess\Final" />
    <add key="InstanceName" value="VM1" />
    <add key="OracleDbConnection" value="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=dccasvr7)(PORT=1525))(CONNECT_DATA=(SERVICE_NAME=wmsot.dcca.hawaii.gov)));User Id=READONLY;Password=RElkj2764IUYIjkl32;" />
    <add key="BatchID" value="4000" />
    <add key="BatchRecordCount" value="500" />
    <add key="MaxThreadCount" value="5" />
    <add key="EnableDetailedLog" value="false" />
    <add key="SourcePdfLocation" value="D:\Lathish\SourceLocation\pdf\" />
    <add key="MetadataLocation" value="D:\Lathish\SourceLocation\metadata" />
    <add key="SFTPHostName" value="sftpuatna11.springcm.com" />
    <add key="SFTPUserName" value="latishk" />
    <add key="SFTPPassword" value="Welcome#2023" />
    <add key="SshHostKey" value="31:f2:96:e0:4c:21:d1:30:d0:1f:76:11:f5:13:88:86" />
    <add key="SshPrivateKeyPath" value="D:\Lathish\Development\DocumentExtraction_Latest\DocumentExtraction\DocumentUpload\Key\RSA_Private_key_SFTP_APP.ppk" />
    <add key="InitialRemoteFolderLocation" value="/BREGFiles/SftpInbox/" />
    <add key="RemoteFolderLocation" value="/BREGFiles/SFTPInboxSecondary/" />
    <add key="TransType" value="'ANNBX',	'CN',	'GPSC',	'INDS',	'NC',	'PDS',	'PNC',	'PRS',	'T1BX',	'T2BX',	'T3BX',	'TNAS',	'TNNA',	'TNTR'" />
    <add key="DocCount" value=">1" />
    <add key="ProcessSummaryLocation" value="D:\Lathish\SourceLocation\ProcessSummary\" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.1" newVersion="4.0.4.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.3.0" newVersion="4.1.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.0" newVersion="1.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>