<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="SourcePdfLocation" value="\\DCCA-KOFAX4\CaptureSV\Export\BREGS-NBR-LK-New\BREGS-NBR-LK-New\" />
    <add key="MetadataLocation" value="\\DCCA-KOFAX4\CaptureSV\MetaData\" />
    <add key="SFTPHostName" value="sftpuatna11.springcm.com" />
    <add key="SFTPUserName" value="lathish.kumar@speridian.com" />
    <add key="SFTPPassword" value="Welcome#2023" />
    <add key="SshHostKey" value="31:f2:96:e0:4c:21:d1:30:d0:1f:76:11:f5:13:88:86" />
    <add key="SshPrivateKeyPath" value="D:\Lathish\Development\DocumentExtraction_Latest\DocumentExtraction\DocumentUpload\Key\RSA_Private_key_SFTP_APP.ppk" />
    <add key="RemoteFolderLocation" value="\ScannedNBR\" />
    <add key="ArchiveLocation" value="\\DCCA-KOFAX4\CaptureSV\Archive" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.1" newVersion="4.0.4.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>